@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

body {
    margin: 0px;
    background-color: #f5f5f5 !important;
    padding-top: 80px;
}

.header {
    background-color: #ebebebbe;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.container_menu {
    max-width: 960px;
    height: 80px;
    margin: 0px 0px;
}

.logo {
    max-width: 250px;
    margin: 0px auto;
    display: flex;
    padding: 0px 5px;
    margin-left: 148px;
    position: relative;
    margin-top: -5px;
}

.img #picture {
    position: absolute;
    top: -8px;
    left: -70px;
}

.text p#title {
    position: absolute;
    font-size: 30px;
    color: #111;
    top: -15px;
    text-shadow: 2px 2px 2px #cc0000;
    font-family: 'Open Sans', sans-serif;
    margin-left: 9px;
    margin-top: 29px;
}

nav {
    display: flex;
    justify-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

#menu_main {
    display: flex;
    list-style: none;
    right: -434px;
    position: relative;
    margin-top: 24px;
}

#menu_main li #home {
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 22px;
}

#menu_main li #store {
    position: absolute;
    top: 10px;
    left: 0px;
    font-size: 20px;
}

#menu_main li #phone {
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 25px;
    color: red;
}

#menu_main li #user {
    position: absolute;
    top: 5px;
    right: 119px;
    font-size: 25px;
}

#menu_main li a {
    display: block;
    padding: 10px 30px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 18px;
    color: #1877F2;
}

#menu_main li {
    position: relative;
}

#menu_main li:hover {
    transform: translateY(-5px);
}

#menu_main li a:hover {
    border-bottom: 4px solid rgb(235, 77, 77);
    transition: 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 70%;
    color: #CD201F;
    border-radius: 2px;
}

#header {
    position: relative;
}

.menu_icon #account {
    position: absolute;
    right: 138px;
    top: 20px;
    font-size: 27px;
    cursor: pointer;
}

.menu_icon #account i {
    padding: 0px 10px;
}

#account {
    position: relative;
}

#content {
    position: absolute;
    background-color: #f1f3eb6c;
    border: 1px solid #313031;
    top: 45px;
    right: 30px;
    width: 170px;
    height: 150px;
    margin-right: -99px;
    display: none;
    z-index: 1;
    border-radius: 0px 0px 8px 8px;

}

#content #log_out {
    position: absolute;
    bottom: 15px;
    left: 18%;
    padding: 5px 8px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #1877F2;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#content #log_out:hover {

    border: 1px solid #0A66C2;
    color: #0095f8;
}
#content #check_don_hang {
    position: absolute;
    top: 42px;
    left: 0px;
    padding: 8px;

}
#content #check_don_hang a {
    list-style: none;
    text-decoration: none;
    color: #111;

    margin-left: 4px;
    font-size: 20px;

}
#content #check_don_hang a:hover {
    color: #c40707;
    font-size: 20px;

}
.menu_icon #slsp {
    position: absolute;
    top: 5px;
    right: 90px;
    background-color: #ec3d3d;
    border-radius: 50%;
    padding: 3px;
    box-shadow: #f18286 0px 2px 2px 0px;
    color: white;
    z-index: 1;
}
.menu_icon #cart i {
    position: absolute;
    right: 94px;
    top: 29px;
    font-size: 25px;
}
/* items drop header bao gồm danh mục sảnh phẩm và tìm kiếm  */
.drop_header {
    position: relative;
}
.drop_header #danh_muc {
    border: 1px solid #dc392d;
    background-color: #dc392d;
    padding: 18px 97px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.drop_header #danh_muc p {
    color: #EBEBEB;
    font-weight: 600;
    font-size: 20px;
}
.drop_header #search #search_item {
    box-sizing: border-box;
    margin-right: 114px;
    padding-left: 30px;
    padding-right: 100px;
    height: 64px;
    border: 1px solid #ec6a6a;
    height: 53px;
}
#search_item:focus {
    border-color: #5100f4;
}
.drop_header #search #search_item:hover {
    border: 1px solid #de5867;
}
::placeholder {
    color: rgb(214, 45, 45);
    font-size: 15px;
    text-transform: uppercase;
}
#search {
    position: relative;
}
#search #search_icon {
    background-color: #f44848;
    color: white;
    padding: 15px 22px;
    margin-right: 25px;
    position: absolute;
    right: 18px;
   top: 6%;
}
/* phần ảnh và các danh mục sàn phẩm */
.prev_product .left {
    z-index: 30;
    /* position: fixed; */
}
.prev_product {
    margin: 0px auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 60%;
}
.product {
    padding: 15px 0px;
    list-style: none;
    width: 304px;
    margin-left: 36px;
    margin-top: 6px;
}
.product li {
    padding: 17px 35px;
    border-bottom: 1px solid rgb(223, 216, 216);
    /*  margin: 20px auto; */
}
.product li:first-child {
    padding-top: 0px;
}
.product li:last-child {
    padding-bottom: 5px;
}
.product li a {
    text-decoration: none;
}

.product li:last-child {
    border: none;
}
.product li:hover {
    border-bottom: 1px solid rgb(167, 165, 165);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product li:hover:last-child {
    border-bottom: none;
}
.product li i {
    color: #111;
    font-size: 30px;
    margin-right: 10px;
}
/* format vị trí cho các tên sản phẩm ,một số sản phẩm khác */

/* format font  for text */
.product li a span {
    color: #111;
    font-size: 15px;
    font-weight: 400;
}

/* phần mũi tên định hướng có menu con ở menu cha  */
.product li #mui_ten1 {
    font-size: 15px;
    color: rgb(179, 172, 172);
    margin-left: 60px;
}

.product li #mui_ten {
    position: absolute;
    top: 23px;
    left: 54px;

    font-size: 15px;
    color: rgb(179, 172, 172);
    margin-left: 172px;
}

.product li:hover #mui_ten1 {
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(10px);
}

.product li:hover #mui_ten {
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(10px);
}

/* menu con của product thiet bi */
.product li {
    position: relative;
}
.product li ul.sub_danhmuc {
    position: absolute;
    left: 305px;
    top: 10px;
    list-style: none;
    padding: 20px 0px;
    width: 304px;
    background-color: rgb(248, 240, 240);
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    display: none;
}
.product li ul.sub_danhmuc span {
    color: #111;
    font-size: 18px;
    font-weight: 500;
}
.product li ul.sub_danhmuc a {
    padding-left: 40px;
}
.product li:hover ul.sub_danhmuc {
    display: block;
    z-index: 10;
}
.info {
    /*  background-color: #1877F2; */
    margin-left: 6px;
    display: block;
    width: 365px !important;
    margin-top: -14px;
    box-sizing: border-box;
}
#facebook {
    position: relative;
}
.info #facebook img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 40px;
}
.info #facebook i {
    font-size: 32px;
    position: absolute;
    top: 47%;
    left: 9%;
    z-index: 1;
    color: #f5f5f5;
}
.info #facebook {
    margin: 9px 30px;
    background-color: #4C75A3;
    padding: 21px;
    margin-top: 18px;
}
.info #facebook a {
    text-decoration: none;
    font-size: 25px;
    color: #EBEBEB;
    margin-left: 75px;
}
.info #facebook:hover {
    transform: translateY(-10px);
    /*  dịch chuyển theo chiều y lên 10px  */
    /*  transition-timing-function: ease-out; */
    transition: 0.25s ease-in-out;
    transition-duration: 0.3s;
    /* thời gian bắt đầu diễn ra hiệu ứng khi ta đưa chuột vào */
    background-color: #dc392d;
}
/* setup information for zalo */
.info #zalo {
    position: relative;
}
.info #zalo a {
    text-decoration: none;
    color: #EBEBEB;
    font-size: 20px;
}
.info #zalo {

    border-bottom: 7px;
    margin: -6px 30px;
    background-color: #4C75A3;
    padding: 21px;
}

.info #zalo i {
    font-size: 35px;
    position: absolute;
    top: 30%;
    left: 26px;
    color: #fffefe;

}

.info #zalo a {
    text-decoration: none;
    color: #EBEBEB;
    font-size: 25px;
    margin-left: 52px;
}

.info #zalo:hover {
    /*  transition-timing-function: ease-out; */
    transform: translateY(-5px);
    transition: 0.25s ease-in-out;
    transition-duration: 0.3s;
    /* thời gian bắt đầu diễn ra hiệu ứng khi ta đưa chuột vào */
    background-color: #dc392d;

    z-index: 2;
}

/*  làm cho phần địa chỉ là đức thọ hà tĩnh  */
.info #address {

    border-bottom: 7px;
    margin: 9px 30px;
    background-color: #4C75A3;
    padding: 25px;


}

.info #address {
    position: relative;
}

.info #address i {
    font-size: 35px;
    position: absolute;
    top: 27%;
    left: 20px;
    color: #fffefe;
}

.info #address a {
    text-decoration: none;
    color: #EBEBEB;
    font-size: 20px;
    margin-left: 50px;

}

.info #address:hover {
    transform: translateY(-5px);
    transition: 0.25s ease-in-out;
    transition-duration: 0.3s;
    /* thời gian bắt đầu diễn ra hiệu ứng khi ta đưa chuột vào */
    background-color: #dc392d;
    z-index: 3;
}
/* phần cam kết vơi khách hàng  */
.camket_sp {
    position: relative;
    top: 20px;

}
@keyframes zoom {
    0% {
        background-color: #5597c3;
    }

    25% {
        background-color: #99d98c;
    }

    50% {
        background-color: #fa5b5b;
    }

    100% {
        background-color: #ead57a;
    }
}

.camket_sp .text {
    font-size: 25px;
    padding: 30px;
    font-family: 'Merriweather', serif;
    position: relative;
    left: 100px;
}

.text #text1 {
    position: absolute;
    top: -418px;
    left: 370px;
    width: 300px;
    margin-left: 5px;
    padding: 15px 40px;
    border-radius: 2px;
    background-color: #ebebebbe;
    border-bottom: 0.5px solid #b4b4b4be;
    animation: zoom 2.5s ease-in-out infinite;
    /* hieu ung  */
}

.text #text1:hover {
    color: #fff;
    border: 1px solid #1877F2;
    transition: 0.5 ease-in-out;
    background-image: linear-gradient(to right, #52b69a, #99d98c);
    box-shadow: 5px 8px 4px rgba(0, 68, 255, 0.2);

}

/* phần text2  */
.text #text2 {
    position: absolute;
    top: -418px;
    right: 170px;
    width: 300px;
    padding: 15px 40px;
    border-radius: 2px;
    background-color: #ebebebbe;
    border-bottom: 0.5px solid #b4b4b4be;
    animation: zoom 2.5s ease-in-out infinite;
    /* hieu ung  */
}

.text #text2:hover {
    color: #fff;
    border: 1px solid #1877F2;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: linear-gradient(to right, #52b69a, #99d98c);
    box-shadow: 5px 8px 4px rgba(0, 68, 255, 0.2);
}

.text #text3 {
    position: absolute;
    top: -694%;
    left: 47%;
    width: 300px;
    padding: 15px 40px;
    border-radius: 2px;
    background-color: #ebebebbe;
    border-bottom: 0.5px solid #b4b4b4be;
    animation: zoom 2.5s ease-in-out infinite;
    /* hieu ung  */
}

.text #text3:hover {
    color: #fff;
    border: 1px solid #1877F2;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: linear-gradient(to right, #52b69a, #99d98c);
    box-shadow: 5px 8px 4px rgba(0, 68, 255, 0.2);

}

/*  code phần title name trang chu */
.marketing_title {
    position: relative;
    top: -280px;
    left: 0px;
}
.hover-title {
    background-color: #db5d5d ;
    position: relative;
    font-weight: bold;
    opacity: 65%;
    width: 335px;
    top: -280px;
    left: 579px;
    text-align: center;
    border: 1px solid #1877F2;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: linear-gradient(to right, #52b69a, #99d98c);
    box-shadow: 5px 8px 4px rgba(0, 68, 255, 0.2);
    animation: doimau .3s ease-in-out infinite;
}

@keyframes doimau {
    from {
        color: rgb(234, 132, 132);
    }

    to {
        color: red;
    }
}

h3 {
    /* margin-left: 50px; */
    font-size: 30px;

}
#product_s{
    position: relative;
    top: -380px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}
/* #productss{
    position: relative;
    top: -250px;
    border-top: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
} */

.products .product {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(25%-30px);
    margin-left: 30px;
    margin-bottom: 30px;

}

.product_top img {
    margin-top: -14px;
    height: 350px;
    width: 100%;
    object-fit: contain;

}

.product_top {
    position: relative;
}

.product_top p {
    position: absolute;
    background-color: #c40707;
    color: #fff;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 6px;
    top: 20px;
    left: 29px;
}

.product_top a {
    position: absolute;
    background-color: #cc0000;
    color: white;
    padding: 15px 50px;
    border-radius: 6px;
    top: 310px;
    right: 61px;
    text-decoration: none;
    display: none;
}

.product_top:hover img {
    transform: translateY(-20px);
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

}

.product_top:hover a {
    display: block;
    transform: translateY(-30px);

}

.product_top:hover {
    transition-timing-function: 0.5s ease-in-out;
}

.product:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}


.product_bottom {
    padding: 5px;
}

.product_bottom h3 {
    font-size: 20px;
}

.product_bottom .product_price {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-top: auto;

}

.product_bottom .product_price .price_root {
    margin-left: 26px;
    font-size: 20px;
    text-decoration: line-through;
    opacity: 0.6;
}


.product_bottom .product_price p {
    color: #000;
}

.product_bottom .product_price .price_sale {
    margin-right: 50px;
    font-size: 20px;
}

/*  Css footer */
.footer {
    width: 100%;
    padding: 0px;
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    height: 370px;
}

.footer .logo p {
    margin-left: -80px;
    font-size: 30px;
    color: rgb(237, 217, 217);
    padding: 20px
}

.info_footer {
    padding: 20px;
    position: relative;
    bottom: 10px;
}

#facebook {
    position: relative;
    margin: 20px 60px;
}

.info_footer #facebook img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -79%;
    left: 5px;
}

.info_footer #facebook i {
    font-size: 40px;
    color: #fff;
    z-index: 1;
}

.info_footer #facebook a {
    color: rgb(185, 184, 184);
    padding: 8px 20px;
    font-size: 20px;
    text-decoration: none;

}

.info_footer #facebook a:hover {
    color: rgb(0, 181, 63);
}

.info_footer #zalo {
    position: relative;
    margin: 20px 60px;
}

.info_footer #zalo i {
    font-size: 40px;
    color: #fff;
    z-index: 1;
}

.info_footer #zalo a {
    position: absolute;
    color: rgb(185, 184, 184);
    padding: 8px 20px;
    font-size: 20px;
    text-decoration: none;
    top: 12px;
    margin-top: -12px;

}

.info_footer #zalo a:hover {
    color: rgb(0, 58, 250);
}

.info_footer #address {
    position: relative;
    margin: 20px 60px;
}

.info_footer #address i {
    font-size: 40px;
    color: #fff;
    z-index: 1;
}

.info_footer #address a {
    color: rgb(185, 184, 184);
    padding: 8px 16px;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 3px;
    margin-right: -16px;
    margin-top: -3px;

}

.info_footer #address a:hover {
    color: rgb(207, 244, 0);
}

.bottom_right {
    position: relative;
    right: 399px;
    top: 30px;
    margin: 8px -227px;
}

.bottom_right .dich_vu h2 {
    color: rgb(185, 87, 87);
}

.bottom_right .dich_vu a:hover {
    color: rgb(30, 212, 36);
}

.bottom_right .dich_vu a {
    display: block;
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(185, 184, 184);
    margin-top: 35px;
}

.dich_vu {
    position: relative;
}

.dich_vu #title {

    font-size: 22px;
    color: rgb(240, 238, 238);
    position: absolute;
    top: 237px;
    left: -630px;
    background-color: rgb(66, 65, 65);
}

.content_bottom {
    position: relative;
}

.content_bottom #title {
    position: absolute;
    top: 10px;
    left: -475px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(240, 238, 238);
}