@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
  padding: 6px;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: rgb(255, 0, 0);
}

/* #sidebar .nav{
  
} */

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}
#sidebar .nav a>:visited{
  background: none;
  color: #f70f0f;
  /* color: #ECEFF1; */
}
#sidebar .nav a i{
  margin-right: 16px;
}

/*  PHẦN CONTENT */
.title{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 1px solid #111;
}
h2{
    padding: 0px ;
    margin-left: 360px;
}

p{
font-size: 16px;
padding-top: 7px;
margin-right: 20px;
cursor: pointer;
}
.title a{
    text-decoration: none;
}
.nav .danhmuc{
    padding: 50px;
}
/*  code phần các table của admin */
.noi_dung_main{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    position: relative;
}
#nhapkhachhangmoi{
position: absolute;
top: 0; 
left: 0;
width: 100%;
height: 100%;

}
.text-center{
    text-align: center;
    margin-left: 20px;
    padding: 10px;
    margin: -10px auto;
    font-size: 20px;
}
.panel-body .btn-success{
    margin-left: 413px;
    padding: 15px 15px;
    
}
 #quanlykhachhang{
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  
 }

